body {
    background-image: url('./ideation.gif');
    background-size: cover;
    
  }
  
  .App {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
 
  .image {
    width: 370px;
    margin-top: 50px;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }
 

  .Head {
      
    font-family: futura;
    font-style: italic;
    
    width:100%;
    
   padding-top: 3%;

    text-align: center;
    
    color:#313131;
    font-size:45px;
    font-weight: bold;
  
    animation:colorchange 10s infinite alternate;
    
    
  }

  @keyframes colorchange {
    0% {
      
      color: yellow;
    }
    
    10% {
      
      color: whitesmoke;
    }
    
    20% {
      
      color: red;
    }
    
    30% {
      
      color: greenyellow;
    }
    
    40% {
      
      color: lightsalmon;
    }
    
    50% {
      
      color: green;
    }
    
    60% {
      
      color: cyan;
    }
    
    70% {
      
      color:skyblue;
    }
    80% {
   
      color: #f1c40f;
    }
    
    90% {
   
      color:pink;
    }
    
    100% {
      
      color: springgreen;
    }
  }